In [1]:
import pandas as pd

df = pd.read_csv("diamonds.csv")
print(df.head())

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1    NaN      NaN     E     SI2   61.5   55.0  326.0  3.95  3.98
1           2   0.21      NaN     E     SI1   59.8   61.0  326.0  3.89   NaN
2           3   0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07
3           4   0.29  Premium     I     NaN   62.4   58.0    NaN  4.20   NaN
4           5   0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35

      z
0  2.43
1   NaN
2  2.31
3  2.63
4  2.75

In [4]:
from sklearn.preprocessing import StandardScaler

standard_obj = StandardScaler()
df['price'] = standard_obj.fit_transform(df[['price']])
df.head(20)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,NaN,NaN,E,SI2,61.5,55.0,-0.904110,3.95,3.98,2.43
1,2,0.21,NaN,E,SI1,59.8,61.0,-0.904110,3.89,NaN,NaN
2,3,0.23,Good,E,VS1,56.9,65.0,-0.903860,4.05,4.07,2.31
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,-0.901854,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,-0.901604,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,-0.901604,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,-0.901353,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,-0.901353,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,-0.901102,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,-0.900852,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,-0.900601,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,-0.900100,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,-0.899598,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,-0.899348,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,-0.899348,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,-0.898596,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,-0.897844,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,-0.897844,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,-0.897844,4.21,4.27,2.66

In [5]:
from sklearn.preprocessing import MinMaxScaler

standard_obj = MinMaxScaler()
df['price'] = standard_obj.fit_transform(df[['price']])
df.head(20)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,NaN,NaN,E,SI2,61.5,55.0,0.000000,3.95,3.98,2.43
1,2,0.21,NaN,E,SI1,59.8,61.0,0.000000,3.89,NaN,NaN
2,3,0.23,Good,E,VS1,56.9,65.0,0.000054,4.05,4.07,2.31
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,0.000487,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,0.000541,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,0.000541,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,0.000595,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,0.000595,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,0.000649,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,0.000703,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,0.000757,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,0.000865,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,0.000973,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,0.001027,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,0.001027,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,0.001189,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,0.001352,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,0.001352,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,0.001352,4.21,4.27,2.66

In [10]:
filtered_df = df[df['depth'] > 100]
filtered_df

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [13]:
df1 = pd.read_csv("diamonds.csv")
df1.head()

filtered_df = df1[df1['price']>400]
filtered_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
30,31,0.23,Very Good,F,VS1,60.0,57.0,402.0,4.00,4.03,2.41
31,32,0.23,Very Good,F,VS1,59.8,57.0,402.0,4.04,4.06,2.42
32,33,0.23,Very Good,E,VS1,60.7,59.0,402.0,3.97,4.01,2.42
33,34,0.23,Very Good,E,VS1,59.5,58.0,402.0,4.01,4.06,2.40
34,35,0.23,Very Good,D,VS1,61.9,58.0,402.0,3.92,3.96,2.44
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64

In [14]:
# Cut equals 'Premium'
filtered_df1 = df1[df1['cut'] == 'Premium']

# Using multiple string matches
filtered_df2 = df1[df1['cut'].isin(['Premium', 'Good'])]

In [15]:
filtered_df1

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
12,13,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
14,15,0.20,Premium,E,SI2,60.2,62.0,345.0,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345.0,4.38,4.42,2.68
26,27,0.24,Premium,I,VS1,62.5,57.0,355.0,3.97,3.94,2.47
...,...,...,...,...,...,...,...,...,...,...,...
53928,53929,0.79,Premium,E,SI2,61.4,58.0,2756.0,6.03,5.96,3.68
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756.0,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757.0,5.69,5.73,3.58
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74

In [16]:
filtered_df2

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
10,11,0.30,Good,J,SI1,64.0,55.0,339.0,4.25,4.28,2.73
12,13,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
...,...,...,...,...,...,...,...,...,...,...,...
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756.0,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757.0,5.69,5.73,3.58
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74

In [21]:
diamonds_df = pd.read_csv("diamonds.csv")
diamonds_df.head()
diamonds_df['cut'].fillna('test',inplace = True)
filtered_df = diamonds_df[diamonds_df['cut'].str.startswith('P')]
filtered_df

C:\Users\hp\AppData\Local\Temp\ipykernel_14852\1980377928.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  diamonds_df['cut'].fillna('test',inplace = True)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
12,13,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
14,15,0.20,Premium,E,SI2,60.2,62.0,345.0,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345.0,4.38,4.42,2.68
26,27,0.24,Premium,I,VS1,62.5,57.0,355.0,3.97,3.94,2.47
...,...,...,...,...,...,...,...,...,...,...,...
53928,53929,0.79,Premium,E,SI2,61.4,58.0,2756.0,6.03,5.96,3.68
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756.0,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757.0,5.69,5.73,3.58
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74

In [22]:
diamonds_df = pd.read_csv("diamonds.csv")
diamonds_df.head()
diamonds_df['cut'] = diamonds_df['cut'].fillna('test')
filtered_df = diamonds_df[diamonds_df['cut'].str.startswith('P')]
filtered_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
12,13,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
14,15,0.20,Premium,E,SI2,60.2,62.0,345.0,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345.0,4.38,4.42,2.68
26,27,0.24,Premium,I,VS1,62.5,57.0,355.0,3.97,3.94,2.47
...,...,...,...,...,...,...,...,...,...,...,...
53928,53929,0.79,Premium,E,SI2,61.4,58.0,2756.0,6.03,5.96,3.68
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756.0,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757.0,5.69,5.73,3.58
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74

In [24]:
diamonds_df = pd.read_csv("diamonds.csv")
diamonds_df.head()
diamonds_df.fillna('test',inplace=True)
filtered_df = diamonds_df[diamonds_df['cut'].str.startswith('P')]
filtered_df

C:\Users\hp\AppData\Local\Temp\ipykernel_14852\984997969.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'test' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  diamonds_df.fillna('test',inplace=True)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3,4,0.29,Premium,I,test,62.4,58.0,test,4.20,test,2.63
12,13,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
14,15,0.2,Premium,E,SI2,60.2,62.0,345.0,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345.0,4.38,4.42,2.68
26,27,0.24,Premium,I,VS1,62.5,57.0,355.0,3.97,3.94,2.47
...,...,...,...,...,...,...,...,...,...,...,...
53928,53929,0.79,Premium,E,SI2,61.4,58.0,2756.0,6.03,5.96,3.68
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756.0,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757.0,5.69,5.73,3.58
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74

In [30]:
diamonds_df = pd.read_csv("diamonds.csv")
diamonds_df.head()

diamonds_df.bfill(inplace=True)

diamonds_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.21,Good,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,Good,E,SI1,59.8,61.0,326.0,3.89,4.07,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,SI2,62.4,58.0,335.0,4.20,4.35,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64

In [31]:


filtered_df = diamonds_df.query('price > 15000 and cut == "Ideal"')

# Filter using multiple conditions
filtered_df1 = diamonds_df.query('cut in ["Ideal", "Premium"] and clarity == "SI2"')

In [36]:
# Rows where 'x' is NaN
diamonds_df1 = pd.read_csv("diamonds.csv")
diamonds_df1.head()
filtered_df1 = diamonds_df1[diamonds_df1['carat'].isnull()]
filtered_df1

   Unnamed: 0  carat  cut color clarity  depth  table  price     x     y     z
0           1    NaN  NaN     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43

In [41]:
filtered_df = diamonds_df[diamonds_df.isnull().any(axis=1)]
filtered_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,carat_squared
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0441
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0841

In [38]:
filtered_df = diamonds_df[diamonds_df.isnull().all(axis=1)]
filtered_df

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [39]:
# Example: Calculate the square of the 'carat' column
diamonds_df1 = pd.read_csv("diamonds.csv")
diamonds_df1.head()

In [42]:
diamonds_df1['carat_squared'] = diamonds_df1['carat'].apply(lambda x: x**2)
diamonds_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,carat_squared
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0441
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0529
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0841
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0961

In [44]:
def price_per_carat(price, carat):
    return price / carat if carat != 0 else 0

diamonds_df1['price_per_carat'] = diamonds_df1.apply(lambda row: price_per_carat(row['price'], row['carat']), axis=1)
diamonds_df1

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,carat_squared,price_per_carat
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN,NaN
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0441,1552.380952
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0529,1421.739130
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0841,NaN
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0961,1080.645161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.5184,3829.166667
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.5184,3829.166667
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.4900,3938.571429
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.7396,3205.813953
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.5625,3676.000000

In [47]:
numeric_df = diamonds_df[['carat', 'depth', 'table', 'price', 'x', 'y', 'z']]
rounded_df = numeric_df.applymap(lambda x: round(x, 3))
rounded_df

C:\Users\hp\AppData\Local\Temp\ipykernel_14852\3548062976.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  rounded_df = numeric_df.applymap(lambda x: round(x, 3))

       carat  depth  table   price     x     y     z
0        NaN   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21   59.8   61.0   326.0  3.89   NaN   NaN
2       0.23   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29   62.4   58.0     NaN  4.20   NaN  2.63
4       0.31   63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...    ...     ...   ...   ...   ...
53935   0.72   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 7 columns]

In [48]:
# Example: Double the 'carat' column
diamonds_df['carat_doubled'] = diamonds_df['carat'].transform(lambda x: x * 2)

In [50]:
# Example: Normalize price within each cut group
diamonds_df['normalized_price'] = diamonds_df.groupby('cut')['price'].transform(lambda x: (x - x.mean()) / x.std())
diamonds_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,carat_squared,carat_doubled,normalized_price
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN,NaN,NaN
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0441,0.42,NaN
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0529,0.46,-0.978345
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0841,0.58,NaN
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0961,0.62,-0.976172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.5184,1.44,-0.183983
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.5184,1.44,-0.318304
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.4900,1.40,-0.311180
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.7396,1.72,-0.420277
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.5625,1.50,-0.183983

In [52]:
# Example: Normalize price within each cut group
diamonds_df['normalized_price_new'] = diamonds_df['price'].transform(lambda x: (x - x.mean()) / x.std())
diamonds_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,carat_squared,carat_doubled,normalized_price,normalized_price_new
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN,NaN,NaN,-0.904102
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0441,0.42,NaN,-0.904102
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0529,0.46,-0.978345,-0.903851
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0841,0.58,NaN,NaN
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0961,0.62,-0.976172,-0.901846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.5184,1.44,-0.183983,-0.294744
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.5184,1.44,-0.318304,-0.294744
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.4900,1.40,-0.311180,-0.294744
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.7396,1.72,-0.420277,-0.294744
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.5625,1.50,-0.183983,-0.294744

In [53]:
diamonds_df_new= pd.read_csv("diamonds.csv")
diamonds_df_new.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75

In [57]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoding_object = OneHotEncoder(sparse_output=False)
one_hot_encoded_output = one_hot_encoding_object.fit_transform(diamonds_df_new[['cut']])
one_hot_encoded_output

array([[0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [58]:
new_df = pd.DataFrame(one_hot_encoded_output)
new_df

         0    1    2    3    4    5
0      0.0  0.0  0.0  0.0  0.0  1.0
1      0.0  0.0  0.0  0.0  0.0  1.0
2      0.0  1.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  1.0  0.0  0.0
4      0.0  1.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...
53935  0.0  0.0  1.0  0.0  0.0  0.0
53936  0.0  1.0  0.0  0.0  0.0  0.0
53937  0.0  0.0  0.0  0.0  1.0  0.0
53938  0.0  0.0  0.0  1.0  0.0  0.0
53939  0.0  0.0  1.0  0.0  0.0  0.0

[53940 rows x 6 columns]

In [59]:
new_df = pd.DataFrame(one_hot_encoded_output, columns=["col_ideal","col_premium","col_good","col_vry_good","col_very_fair","col_aaa"])
new_df

       col_ideal  col_premium  col_good  col_vry_good  col_very_fair  col_aaa
0            0.0          0.0       0.0           0.0            0.0      1.0
1            0.0          0.0       0.0           0.0            0.0      1.0
2            0.0          1.0       0.0           0.0            0.0      0.0
3            0.0          0.0       0.0           1.0            0.0      0.0
4            0.0          1.0       0.0           0.0            0.0      0.0
...          ...          ...       ...           ...            ...      ...
53935        0.0          0.0       1.0           0.0            0.0      0.0
53936        0.0          1.0       0.0           0.0            0.0      0.0
53937        0.0          0.0       0.0           0.0            1.0      0.0
53938        0.0          0.0       0.0           1.0            0.0      0.0
53939        0.0          0.0       1.0           0.0            0.0      0.0

[53940 rows x 6 columns]

In [61]:
new_df = pd.DataFrame(one_hot_encoded_output, columns=one_hot_encoding_object.get_feature_names_out(['cut']))
new_df

       cut_Fair  cut_Good  cut_Ideal  cut_Premium  cut_Very Good  cut_nan
0           0.0       0.0        0.0          0.0            0.0      1.0
1           0.0       0.0        0.0          0.0            0.0      1.0
2           0.0       1.0        0.0          0.0            0.0      0.0
3           0.0       0.0        0.0          1.0            0.0      0.0
4           0.0       1.0        0.0          0.0            0.0      0.0
...         ...       ...        ...          ...            ...      ...
53935       0.0       0.0        1.0          0.0            0.0      0.0
53936       0.0       1.0        0.0          0.0            0.0      0.0
53937       0.0       0.0        0.0          0.0            1.0      0.0
53938       0.0       0.0        0.0          1.0            0.0      0.0
53939       0.0       0.0        1.0          0.0            0.0      0.0

[53940 rows x 6 columns]

In [62]:
final_df = pd.concat([diamonds_df_new,new_df],axis=1)
final_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,cut_nan
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,0.0,0.0,0.0,0.0,0.0,1.0
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0,0.0
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0,0.0,0.0,1.0,0.0,0.0
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0,0.0
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0,0.0
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0,0.0
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0,0.0
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0,0.0

In [74]:

final_df

,Unnamed: 0,carat,color,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,cut_nan
0,1,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,0.0,0.0,0.0,0.0,0.0,1.0
1,2,0.21,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2,3,0.23,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0,0.0
3,4,0.29,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0,0.0,0.0,1.0,0.0,0.0
4,5,0.31,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0,0.0
53936,53937,0.72,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0,0.0
53937,53938,0.70,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0,0.0
53938,53939,0.86,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0,0.0
53939,53940,0.75,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0,0.0

In [76]:
final_df.drop(['Unnamed: 0',"color"],axis=1,inplace=True)
final_df

,carat,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,cut_nan
0,NaN,SI2,61.5,55.0,326.0,3.95,3.98,2.43,0.0,0.0,0.0,0.0,0.0,1.0
1,0.21,SI1,59.8,61.0,326.0,3.89,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2,0.23,VS1,56.9,65.0,327.0,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0,0.0
3,0.29,NaN,62.4,58.0,NaN,4.20,NaN,2.63,0.0,0.0,0.0,1.0,0.0,0.0
4,0.31,SI2,63.3,58.0,335.0,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0,0.0
53936,0.72,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0,0.0
53937,0.70,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0,0.0
53938,0.86,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0,0.0
53939,0.75,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0,0.0

In [77]:
df= pd.read_csv("diamonds.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,NaN,NaN,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,NaN,E,SI1,59.8,61.0,326.0,3.89,NaN,NaN
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,NaN,62.4,58.0,NaN,4.20,NaN,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75

In [80]:
output = pd.get_dummies(df["cut"],prefix="rs")
output

       rs_Fair  rs_Good  rs_Ideal  rs_Premium  rs_Very Good
0        False    False     False       False         False
1        False    False     False       False         False
2        False     True     False       False         False
3        False    False     False        True         False
4        False     True     False       False         False
...        ...      ...       ...         ...           ...
53935    False    False      True       False         False
53936    False     True     False       False         False
53937    False    False     False       False          True
53938    False    False     False        True         False
53939    False    False      True       False         False

[53940 rows x 5 columns]